
<div class="mb-2">
  <app-create-reminder (tarefaCriada)="loadItems()" />
</div>
<c-accordion [flush]="true">
  <c-accordion-item #item0="cAccordionItem" [visible]="true" class="rounded">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <button
        (click)="item0.toggleItem();"
        [collapsed]="!item0.visible"
        cAccordionButton
        cTextColor="white"
        cBgColor="success"
        class="py-1"
      >
        <div class="d-flex justify-content-between w-100">
          <div>
            Hoje
          </div>
          <div class="me-3">
            {{ reminders.today.data.length }}
          </div>
        </div>
      </button>
    </ng-template>
    <ng-template cTemplateId="accordionBodyTemplate">
      <div class="accordion-body">
        <div class="w-100">
          <button
            class="me-1 w-auto {{remindersIndex.today ? '' : 'disabled'}}"
            cButton
            color="info"
            size="sm"
            variant="outline"
            (click)="reset('today')"
          >Hoje</button>
          <button
            class="me-1 w-auto"
            cButton
            color="info"
            size="sm"
            variant="ghost"
            (click)="minusIndex('today')"
          >
            <svg cIcon name="cilChevronLeft" size="sm"></svg>
          </button>
          <button
            class="me-1 w-auto"
            cButton color="info"
            size="sm"
            variant="ghost"
            (click)="plusIndex('today')"
          >
            <svg cIcon name="cilChevronRight" size="sm"></svg>
          </button>
          <span class="me-1 text-info">{{ reminders.today.label }}</span>
        </div>
        <div *ngIf="reminders.today.data.length === 0" class="text-center">
          <p>Sem tarefas.</p>
        </div>
        <ul *ngIf="reminders.today.data.length > 0" cListGroup>
          <li cListGroupItem *ngFor="let reminder of reminders.today.data">
            <c-form-check class="">
              <input cFormCheckInput  type="checkbox" />
              <label cFormCheckLabel>{{reminder.title}}</label>
            </c-form-check>
          </li>
        </ul>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item #item3="cAccordionItem" [visible]="false" class="rounded">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <button (click)="item3.toggleItem();" [collapsed]="!item3.visible" cTextColor="white" cAccordionButton cBgColor="primary"
              class="py-1">
        <div class="d-flex justify-content-between w-100">
          <div>
            Na semana
          </div>
          <div class="me-3">
            {{ reminders.week.data.length }}
          </div>
        </div>
      </button>
    </ng-template>
    <ng-template cTemplateId="accordionBodyTemplate">
      <div class="accordion-body">
        <div class="w-100">
          <button
            class="me-1 w-auto {{remindersIndex.week ? '' : 'disabled'}}"
            cButton
            color="info"
            size="sm"
            variant="outline"
            (click)="reset('week')"
          >Hoje</button>
          <button
            class="me-1 w-auto"
            cButton
            color="info"
            size="sm"
            variant="ghost"
            (click)="minusIndex('week')"
          >
            <svg cIcon name="cilChevronLeft" size="sm"></svg>
          </button>
          <button
            class="me-1 w-auto"
            cButton color="info"
            size="sm"
            variant="ghost"
            (click)="plusIndex('week')"
          >
            <svg cIcon name="cilChevronRight" size="sm"></svg>
          </button>
          <span class="me-1 text-info">{{ reminders.week.label }}</span>
        </div>
        <div *ngIf="reminders.week.data.length === 0" class="text-center">
          <p>Sem tarefas.</p>
        </div>
        <ul *ngIf="reminders.week.data.length > 0" cListGroup>
          <li cListGroupItem *ngFor="let reminder of reminders.week.data">
            <c-form-check class="">
              <input cFormCheckInput type="checkbox" />
              <label cFormCheckLabel >{{reminder.title}}</label>
            </c-form-check>
          </li>
        </ul>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item #item4="cAccordionItem" [visible]="false" class="rounded">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <button (click)="item4.toggleItem()" [collapsed]="!item4.visible" cAccordionButton cBgColor="secondary"
              class="py-1">
        <div class="d-flex justify-content-between w-100">
          <div>
            Mensais
          </div>
          <div class="me-3">
            {{ reminders.month.data.length }}
          </div>
        </div>
      </button>
    </ng-template>
    <ng-template cTemplateId="accordionBodyTemplate">
      <div class="accordion-body">
        <div class="w-100">
          <button
            class="me-1 w-auto {{remindersIndex.month ? '' : 'disabled'}}"
            cButton
            color="info"
            size="sm"
            variant="outline"
            (click)="reset('month')"
          >Hoje</button>
          <button
            class="me-1 w-auto"
            cButton
            color="info"
            size="sm"
            variant="ghost"
            (click)="minusIndex('month')"
          >
            <svg cIcon name="cilChevronLeft" size="sm"></svg>
          </button>
          <button
            class="me-1 w-auto"
            cButton color="info"
            size="sm"
            variant="ghost"
            (click)="plusIndex('month')"
          >
            <svg cIcon name="cilChevronRight" size="sm"></svg>
          </button>
          <span class="me-1 text-info">{{ reminders.month.label }}</span>
        </div>
        <div *ngIf="reminders.month.data.length === 0" class="text-center">
          <p>Sem tarefas.</p>
        </div>
        <table cTable small *ngIf="reminders.month.data.length > 0" class="table-sm" style="font-size: 0.7rem !important;">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <th scope="col">Repete</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let reminder of reminders.month.data">
            <th scope="row" [ngClass]="{ 'text-secondary text-decoration-line-through': reminder.status }">
              <c-form-check class="" >
                <input
                  cFormCheckInput
                  [checked]="reminder.status"
                  type="checkbox"
                  class="border-primary"
                  (change)="toggleReminder(reminder)"
                />
              </c-form-check>
            </th>
            <td [ngClass]="{ 'text-secondary text-decoration-line-through': reminder.status }">{{reminder.title}}</td>
            <td style="font-size: 0.7rem">{{reminder.reminder_date | date: 'dd/MM/yyyy'}}</td>
            <td>&#64;mdo</td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </c-accordion-item>
</c-accordion>
